/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 0.3% and not dead
*/

/*======= Fonts =======*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");

/*======= Root variables =======*/
:root {
  /* colors */
  --primary-dark-blue-1: #142257;
  --primary-dark-blue-2: #1f3584;
  --primary-sky-blue: #15b2f5;
  --neutural-white: #ffffff;
  --neutural-black: #171921;
  --neutural-grey-1: #545971;
  --neutural-grey-3: #9ea3b5;
  --neutural-soft-grey: #e3e6f0;
  --neutural-light-grey: #f3f5f9;
  --system-yellow: #ffa928;
  --system-red: #ff5e5e;
  --shades-of-dark-blue-1: #566ab1;
  --shades-of-blue-1: #5dcbfb;
  --shades-of-blue-2: #e8f7fe;
}

/*======= Reset styles =======*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*======= Common styles =======*/

/*---------- Titles styles ----------*/
.section-title {
  color: var(--neutural-black, #171921);
  font-size: clamp(1.5rem, 0.932rem + 2.52vw, 3.25rem);
  font-weight: 700;
  line-height: 123.076923%; /* 64/52 */
}

.section-title--large {
  font-size: clamp(2rem, 1.351rem + 2.88vw, 4rem);
  line-height: 118.75%; /* 76/64 */
}

.section-title--centered {
  text-align: center;
}
.section-title--light {
  color: var(--neutural-white, #fff);
}

/*---------- Button styles ----------*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  max-width: 160px;
  min-height: 52px;
  border-radius: 60px;
  background-color: var(--primary-sky-blue, #15b2f5);
  color: var(--neutural-white, #ffffff);
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .button:hover,
  .button:focus {
    background-color: var(--shades-of-dark-blue-1, #566ab1);
  }
}
.button:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}
.button--light {
  color: var(--primary-sky-blue, #15b2f5);
  background-color: var(--neutural-white, #ffffff);
  transition: color 0.3s ease, background-color 0.3s ease,
    -webkit-transform 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .button--light:hover,
  .button--light:focus {
    background-color: var(--shades-of-dark-blue-1, #566ab1);
    color: var(--neutural-white, #ffffff);
  }
}
/*---------- Hover styles (underline) ----------*/
@media (any-hover: hover) {
  .u-hover {
    position: relative;
  }
  .u-hover::after {
    content: " ";
    position: absolute;
    display: block;
    margin-top: 3px;
    background-color: var(--neutural-white, #ffffff);
    height: 2px;
    width: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  .u-hover:hover::after,
  .u-hover:active::after {
    width: 100%;
  }
  .u-hover--blue::after {
    background-color: var(--primary-sky-blue, #15b2f5);
  }
}

/*---------- Image style ----------*/
[class*="-ibg"] {
  position: relative;
  display: block;
  overflow: hidden;
}

[class*="-ibg"] img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*======= Header styles =======*/
.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-dark-blue-1, #142257);
}
.header__inner {
  margin: 0 auto;
  max-width: 1630px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  min-height: 80px;
}
.header__logo {
  z-index: 5;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  -webkit-column-gap: 57px;
  column-gap: 57px;
  row-gap: 15px;
}
.menu__item {
}
.menu__link {
  color: var(--neutural-white, #fff);
  font-weight: 700;
  line-height: 133.333%;
}
.header__text {
  position: relative;
  padding-left: 22px;
  color: var(--neutural-white, #fff);
  font-weight: 700;
  line-height: 133.333%;
}
.header__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--system-red, #ff5e5e);
}
.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    width: 20px;
    height: 14px;
    cursor: pointer;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    right: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--neutural-white, #ffffff);
    transition: all 0.3s ease;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .icon-menu._active span {
    -webkit-transform: translate(500%, -50%);
    transform: translate(500%, -50%);
  }
  .icon-menu._active::before {
    content: "";
    height: 3px;
    width: 19px;
    -webkit-transform: rotate(45deg) translate(2px, 6px);
    transform: rotate(45deg) translate(2px, 6px);
  }
  .icon-menu._active::after {
    content: "";
    height: 3px;
    width: 19px;
    -webkit-transform: rotate(-45deg) translate(2px, -6px);
    transform: rotate(-45deg) translate(2px, -6px);
  }
  /* Hamburger menu body */
  .menu__body {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 110px 50px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.75em;
    background: linear-gradient(
      to right,
      rgba(20, 34, 87, 0.9) 0%,
      rgba(20, 34, 87, 1) 25%,
      rgba(20, 34, 87, 1) 100%
    );
    transition: right 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }

  /* Additional background for active scrolled menu */
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 56px;
    top: 0;
    left: 0;
    background-color: rgba(20, 34, 87, 0);
  }
  .menu__body._active::before {
    background-color: rgba(20, 34, 87, 1);
    transition: background-color 0.3s ease 0.3s;
  }
  .header__inner {
    padding: 10px 24px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    min-height: 56px;
  }
  .menu__list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 1.75em;
  }
  .menu__link,
  .header__text {
    font-size: 1.25rem;
  }
}

/*======= Footer styles =======*/
.footer {
  padding-top: 52px;
  background-color: var(--primary-sky-blue, #15b2f5);
}
.footer__container {
}
.footer__body {
  padding-bottom: 74px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}
.footer__info {
  flex: 0 1 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.footer__logo {
}
.footer__text {
  line-height: 1.5;
  color: var(--neutural-white, #fff);
}
.footer__social {
  display: flex;
  align-items: center;
  -webkit-column-gap: 24px;
  column-gap: 24px;
}
.footer__social img {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .footer__social li:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.footer__menu {
  flex: 0 1 300px;
  display: flex;
  justify-content: space-between;
}
.menu-footer {
}
.menu-footer__column {
}
.menu-footer__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--neutural-white, #fff);
}
.menu-footer__body {
}
.menu-footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-footer__item {
}
.menu-footer__link {
  font-size: 20px;
  line-height: 1.6;
  color: var(--neutural-white, #fff);
}

.footer__copyright {
  margin: 0 -9999px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--neutural-white, #fff);
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 30px;
  }
  .footer .footer__container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .footer__body {
    padding-bottom: 30px;
    flex-direction: column;
  }
  .footer__info {
    flex: 0 1 auto;
  }
  .footer__menu {
    flex: 0 1 auto;
    gap: 64px;
  }
  .footer__copyright {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/*======== Body styles ========*/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 155.555556%; /* 28/18 */
  color: var(--neutural-grey-1, #545971);
}
@media (max-width: 479.98px) {
  body {
    font-size: 16px;
  }
}
/* Blocks body scrolling */
.body--lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*======= Main page styles =======*/
.page__hero {
}
.page__professionals {
}
.page__services {
}
.page__benefits {
}
.page__how {
}
.page__reviews {
}
.page__blog {
}
.page__faq {
}
.page__talk {
}
.page__connect {
}

/*------------ hero ------------*/
.hero {
  position: relative;
  padding-top: 80px;
  background-color: var(--primary-dark-blue-1);
}
.hero::before {
  content: "";
  position: absolute;
  background: url("../images/hero/decor-left.svg") 0 0 / 100% no-repeat;
  width: 479px;
  height: 45px;
  bottom: -1px;
  left: 0;
}
.hero::after {
  content: "";
  position: absolute;
  background: url("../images/hero/decor-right.svg") 0 0 / 100% no-repeat;
  width: 479px;
  height: 45px;
  bottom: -1px;
  right: 0;
}
.hero__inner {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 15px;
}
.hero__image-ibg {
  width: calc(250px + (412 - 250) * ((100vw - 992px) / (1920 - 992)));
  min-height: 836px;
  margin-bottom: 60px;
  padding-bottom: 49.282297%; /* 412/836 */
  position: relative;
  display: inline-block;
}
.hero__image--left {
  border-radius: 24px 24px 0 24px;
}
.hero__image--right {
  border-radius: 24px 24px 24px 0;
}
.hero__image--left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top left, #131f4b, transparent);
  z-index: 1;
}
.hero__image--right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #131f4b, transparent);
  z-index: 1;
}
@media (min-width: 1920px) {
  .hero__image-ibg {
    max-width: 500px;
  }
}
.hero__content {
  padding-top: 162px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-hero {
}
.content-hero__top {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  text-align: center;
  padding-bottom: 48px;
}
.content-hero__labels {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
}
.content-hero__label {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--neutural-grey-3, #9ea3b5);
}
.content-hero__label:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -29px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--neutural-grey-3, #9ea3b5);
}
.content-hero__title {
  max-width: 673px;
}
.content-hero__benefits {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 41px;
}
.content-hero__benefit {
  font-size: 20px;
  line-height: 1.6;
  color: var(--primary-sky-blue, #15b2f5);
  padding-left: 32px;
  background: url(../images/hero/check.svg) left no-repeat;
}
.content-hero__button {
  position: relative;
  max-width: 100%;
  min-height: 64px;
  padding-left: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--neutural-white, #fff);
}
.content-hero__button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.content-hero__button span::after {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--neutural-white, #fff) url(../images/hero/phone.svg) center
    no-repeat;
}
.content-hero__features {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 233px);
}
.content-hero__features > :not(:last-child) {
  position: relative;
}
.content-hero__features > :not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, #4f66b700, #4f66b7, #4f66b700);
}
.content-hero__feature {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 16px;
}
.content-hero__feature-icon {
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark-blue-2, #1f3584);
  border-radius: 50%;
}
.content-hero__feature-text {
  text-align: left;
  font-weight: 600;
  line-height: 1.333;
  color: var(--neutural-white, #fff);
}

@media (max-width: 1800px) {
  .hero__content {
    padding-top: 60px;
  }
  .content-hero__features {
    position: relative;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(2, auto);
    row-gap: 40px;
  }
  .content-hero__features > :not(:last-child)::after {
    width: 0;
  }
  .content-hero__features::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% / 2);
    width: 1px;
    background: linear-gradient(to bottom, #4f66b700, #4f66b7, #4f66b700);
  }
  .content-hero__features::after {
    content: "";
    position: absolute;
    top: calc(100% / 2);
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, #4f66b700, #4f66b7, #4f66b700);
  }
  .content-hero__feature {
    gap: 8px;
  }
}
@media (max-width: 1200px) {
  .hero__content {
    padding-top: 32px;
  }
  .hero::before {
    left: auto;
    right: 50%;
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
  .hero::after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
  .content-hero__labels {
    -webkit-column-gap: 35px;
    column-gap: 35px;
    row-gap: 10px;
  }
  .content-hero__label:not(:first-child)::before {
    left: -21px;
  }
}
@media (max-width: 991.98px) {
  .hero__inner {
    display: block;
  }
  .hero__image-ibg {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 56px;
    padding-bottom: 20px;
  }
  .hero__inner {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero__content {
    padding-top: 6px;
    padding-bottom: 25px;
  }
  .content-hero__labels,
  .content-hero__benefits {
    gap: 16px;
  }
  .content-hero__label {
    font-size: 18px;
  }
  .content-hero__label:not(:first-child)::before {
    left: -11px;
  }
  .content-hero__features {
    grid-template-columns: repeat(2, 115px);
    -webkit-column-gap: 24px;
    column-gap: 24px;
  }
  .content-hero__feature {
    padding: 0;
    flex-direction: column;
  }
  .content-hero__feature-text {
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .hero::before {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  .hero::after {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
  .content-hero__labels {
    margin: 0 -10px;
    gap: 10px;
  }
  .content-hero__label:not(:first-child)::before {
    top: 55%;
    left: -7px;
    width: 4px;
    height: 4px;
  }
  .content-hero__label {
    font-size: 14px;
  }
  .content-hero__benefits {
    margin-bottom: 30px;
  }
  .content-hero__benefit {
    font-size: 14px;
    padding-left: 26px;
  }
}

/*------------ professionals ------------*/
.professionals {
  padding-top: 123px;
  padding-bottom: 64px;
}
.professionals__container {
  display: flex;
  justify-content: space-between;
}
.professionals__content {
  max-width: 600px;
  padding-top: 100px;
  padding-right: 15px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.content-professionals {
}
.content-professionals__title {
  margin-bottom: -32px;
}
.content-professionals__text {
  max-width: 557px;
  line-height: 1.5;
}
.content-professionals__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 48px;
}
.content-professionals__item {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  padding-left: 28px;
  background: url("../images/professionals/check.svg") 0 8px no-repeat;
  color: var(--primary-dark-blue-2, #1f3584);
}
.content-professionals__contact {
  max-width: 450px;
  padding: 12px 32px;
  border-radius: 24px;
  background-color: var(--primary-sky-blue, #15b2f5);
  color: var(--neutural-white, #fff);
  line-height: 1.55;
}
.content-professionals__contact a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-decoration: underline;
  color: var(--neutural-white, #fff);
  white-space: nowrap;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .content-professionals__contact a:hover {
    color: var(--primary-dark-blue-2, #1f3584);
  }
}
.professionals__image {
  flex: 0 1 50%;
}
.professionals__image img {
  width: 100%;
}
@media (max-width: 1200px) {
  .professionals {
    padding-top: 60px;
  }
  .professionals__content {
    padding-top: 0;
  }
  .professionals__image {
    align-self: center;
  }
}
@media (max-width: 991.98px) {
  .professionals__content {
    gap: 24px;
  }
  .content-professionals__title {
    margin-bottom: 0;
  }
  .content-professionals__list {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .professionals__container {
    flex-direction: column;
    gap: 40px;
  }
  .professionals__content {
    padding-right: 0;
  }
}
@media (max-width: 479.98px) {
  .professionals {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .content-professionals__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .content-professionals__item {
    font-size: 18px;
    background: url("../images/professionals/check.svg") 0 5px no-repeat;
  }
  .content-professionals__contact {
    padding: 12px 20px;
  }
  .content-professionals__contact a {
    font-size: 18px;
    text-decoration: none;
  }
}

/*------------ services ------------*/
.services {
  padding-top: 114px;
  padding-bottom: 146px;
}
.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.services__title {
}
.services__text {
  margin-bottom: 36px;
  max-width: 552px;
  text-align: center;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.services__item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.item-services {
}
.item-services__icon {
  margin-bottom: 4px;
  width: 64px;
  height: 64px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark-blue-1, #142257);
}
.item-services__service {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--neutural-black, #171921);
}
.item-services__description {
}
.item-services--light {
  display: grid;
  gap: 4px;
  text-align: center;
  border-radius: 24px;
  background-color: var(--primary-sky-blue, #15b2f5);
}
.item-services__service--light {
  color: var(--neutural-white, #fff);
}
.item-services__description--light {
  color: var(--neutural-white, #fff);
}
.item-services__button {
  max-width: 100%;
  height: 64px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}

@media (max-width: 1200px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 991.98px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .services__item {
    padding: 16px;
  }
  .services__text {
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .services__list {
    grid-template-columns: auto;
  }
  .services__item {
    align-items: center;
    text-align: center;
    padding: 16px 0;
  }
  .services__text {
    margin-bottom: 0;
  }
  .item-services--light {
    padding: 16px;
    gap: 16px;
  }
  .item-services__service {
    font-size: 20px;
  }
}

/*------------ benefits ------------*/
.benefits {
  padding: 64px;
  border-radius: 0;
  margin: 0;
  background: var(--primary-dark-blue-1, #142257);
}
@media (min-width: 1200px) {
  .benefits {
    position: relative;
    padding: 64px;
    border-radius: 24px;
    margin: 0 60px;
  }
  .benefits::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 645px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    background: url(../images/benefits/decor-left.svg) no-repeat;
  }
  .benefits::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 645px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -1px;
    background: url(../images/benefits/decor-right.svg) no-repeat;
  }
}

.benefits__container {
  display: grid;
  gap: 120px;
}
.benefits__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}
.benefits__title {
  max-width: 590px;
}
.benefits__text {
  max-width: 613px;
  color: var(--neutural-grey-3, #9ea3b5);
}
.benefits__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 184px;
  column-gap: 184px;
  row-gap: 60px;
}
@media (min-width: 991.98px) {
  .benefits__content::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, #4f66b700, #4f66b7, #4f66b700);
  }
}
.benefits__item {
}
.item-benefits {
  display: flex;
  gap: 32px;
}
.item-benefits__icon {
}
.item-benefits__content {
  display: grid;
  gap: 12px;
}
.item-benefits__title {
  color: var(--neutural-white, #fff);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}
.item-benefits__text {
  color: var(--neutural-grey-3, #9ea3b5);
}
@media (max-width: 991.98px) {
  .benefits {
    padding: 40px 0;
  }
  .benefits__container {
    gap: 80px;
  }
  .benefits__content {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .benefits__container {
    gap: 30px;
  }
  .benefits__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .item-benefits {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .benefits__content {
    grid-template-columns: auto;
    text-align: center;
  }
  .item-benefits__title {
    font-size: 20px;
  }
}

/*------------ how ------------*/
.how {
  padding-top: 184px;
  padding-bottom: 156px;
}
.how__container {
  display: flex;
}
.how__image {
  flex: 1 1 57%;
  margin-left: -85px;
}
.how__image img {
  max-width: 100%;
}
.how__content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.content-how {
}
.content-how__title {
  max-width: 400px;
}

.content-how__list {
  counter-reset: custom-counter;
  display: grid;
  gap: 52px;
}
.list-how {
}
.list-how__item {
  position: relative;
  display: flex;
  gap: 36px;
  margin-left: 73px;
}
.list-how__item::before {
  content: counter(custom-counter) ".";
  counter-increment: custom-counter;
  position: absolute;
  left: -73px;
  top: 0;
  width: 64px;
  height: 64px;
  color: var(--neutural-grey-3, #9ea3b5);
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}

.list-how__title {
  flex: 0 0 164px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  color: var(--neutural-black, #171921);
}
.list-how__text {
  max-width: 420px;
}

@media (max-width: 1200px) {
  .how {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .how__image {
    padding-right: 28px;
  }
}
@media (max-width: 991.98px) {
  .how__image {
    margin-left: -45px;
  }
  .how__content {
    gap: 20px;
  }
  .content-how__list {
    gap: 20px;
  }
  .list-how__item {
    flex-direction: column;
    gap: 5px;
    margin-left: 53px;
  }
  .list-how__item::before {
    left: -53px;
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
  }
  .list-how__title {
    flex: 1 1 auto;
  }
}
@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .how__container {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .how__image {
    margin-left: 0;
    padding-right: 0;
  }
  .list-how__title {
    font-size: 20px;
  }
}

/*------------ reviews ------------*/
.reviews {
  padding-top: 100px;
  padding-bottom: 132px;
}
.reviews__container {
}
.reviews__title {
  max-width: 650px;
  margin: 0 auto;
}
.reviews__slider {
  max-width: 1130px;
}
.reviews__slide {
}
.slide-reviews {
  padding: 66px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.slide-reviews__heading {
  padding: 24px 0;
  text-align: center;
}

.slide-reviews__heading img {
  max-width: 100%;
}
.slide-reviews__text {
  position: relative;
  max-width: 730px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}
.slide-reviews__text::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, #4f66b700, #cbcfdb, #4f66b700);
}
.slide-reviews__author {
  display: flex;
  align-items: center;
  gap: 32px;
}
.slide-reviews__avatar {
  width: 76px;
  height: 76px;
  overflow: hidden;
  border-radius: 50%;
}
.slide-reviews__avatar img {
  max-width: 100%;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .slide-reviews__avatar img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.slide-reviews__label {
  display: grid;
  gap: 8px;
}
.slide-reviews__name a {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  color: var(--neutural-black, #171921);
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .slide-reviews__name a:hover {
    color: var(--primary-sky-blue, #15b2f5);
  }
}
.slide-reviews__rating {
}
.slide-reviews__rating img {
  width: 36px;
  height: 36px;
  max-width: 100%;
}
.reviews__pagination {
}
.reviews__pagination.custom-pagination .swiper-pagination-bullet {
  margin: 0 6px;
}
.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--neutural-soft-grey, #e3e6f0);
  opacity: 1;
  transition: background-color 0.2s ease, width 0.2s ease;
}
.custom-pagination .swiper-pagination-bullet-active {
  border-radius: 24px;
  width: 40px;
  height: 12px;
  background: var(--primary-sky-blue, #15b2f5);
}
.reviews__arrow-prev {
}
.reviews__arrow-prev.swiper-button-prev::after,
.reviews__arrow-next.swiper-button-next::after {
  display: none;
}
.reviews__arrow-prev.swiper-button-prev {
  background: url("../images/reviews/button-blue.svg") center no-repeat;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.reviews__arrow-next.swiper-button-next {
  background: url("../images/reviews/button-blue.svg") center no-repeat;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.reviews__arrow-next.swiper-button-next.swiper-button-disabled {
  background: url("../images/reviews/button-grey.svg") center no-repeat;
  opacity: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.reviews__arrow-prev.swiper-button-prev.swiper-button-disabled {
  background: url("../images/reviews/button-grey.svg") center no-repeat;
  opacity: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.reviews__arrow-next {
}

@media (max-width: 991.98px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slide-reviews {
    padding: 20px 0 70px;
    gap: 20px;
  }
  .slide-reviews__heading {
    padding: 14px 0;
  }
  .slide-reviews__text {
    max-width: 630px;
  }
  .slide-reviews__text::before {
    top: -20px;
  }
}
@media (max-width: 767.98px) {
  .reviews__pagination.custom-pagination {
    bottom: 14px;
  }
  .reviews__arrow-prev.swiper-button-prev,
  .reviews__arrow-next.swiper-button-next,
  .reviews__arrow-prev.swiper-button-prev.swiper-button-disabled,
  .reviews__arrow-next.swiper-button-next.swiper-button-disabled {
    top: calc(100% - 28px);
  }
  .slide-reviews__text {
    font-size: 18px;
  }
}
@media (max-width: 479.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .slide-reviews__heading img {
    max-width: 75%;
  }
  .slide-reviews__text {
    font-size: 16px;
  }
  .slide-reviews__author {
    gap: 16px;
  }
  .slide-reviews__avatar {
    width: 52px;
    height: 52px;
  }
  .slide-reviews__name a {
    font-size: 22px;
  }
  .slide-reviews__rating img {
    width: 24px;
    height: 24px;
  }
}

/*------------ blog ------------*/
.blog {
  padding-top: 107px;
  padding-bottom: 84px;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.blog__title {
  margin-bottom: -32px;
}
.blog__text {
  max-width: 695px;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
.blog__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 48px;
}
.blog__card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100%;
}
.card-blog {
}
.card-blog__image-ibg {
  aspect-ratio: 448 / 300;
  border-radius: 24px;
  margin-bottom: 8px;
}
.card-blog__image-ibg img {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .card-blog__image-ibg img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
}
.card-blog__date {
}
.card-blog__title {
}
.card-blog__link-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--neutural-black, #171921);
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .card-blog__link-title:hover {
    color: var(--primary-sky-blue, #15b2f5);
  }
}
.card-blog__text {
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-blog__tags {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.card-blog__tag {
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: var(--neutural-grey-1, #545971);
  background-color: var(--neutural-light-grey, #f3f5f9);
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .card-blog__tag:hover {
    background-color: var(--shades-of-blue-1, #5dcbfb);
  }
}
.blog__button-more {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  color: var(--primary-sky-blue, #15b2f5);
  padding-right: 30px;
  background: url(../images/blog/IC_chevron-right.svg) right no-repeat;
}
@media (max-width: 1200px) {
  .blog__cards {
    row-gap: 40px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
  }
}
@media (max-width: 991.98px) {
  .blog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .blog__text {
    font-size: 22px;
  }
  .card-blog__link-title {
    font-size: 26px;
  }
  .card-blog__text {
    height: 80px;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog__container {
    gap: 25px;
  }
  .blog__title {
    margin-bottom: 0;
  }
  .blog__text {
    font-size: 20px;
  }
  .blog__cards {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@media (max-width: 479.98px) {
  .card-blog__link-title {
    font-size: 20px;
  }
}

/*------------ faq ------------*/
.faq {
  padding-top: 223px;
  padding-bottom: 230px;
}
.faq__container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 12px;
}
.faq__heading {
  padding-right: 30px;
}
.faq__title {
  margin-bottom: 24px;
  max-width: 470px;
}
.faq__help {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 11px;
}
.faq__help p {
  font-size: 20px;
  line-height: 1.6;
  color: var(--neutural-black, #171921);
}
.faq__help a {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--primary-sky-blue, #15b2f5);
  transition: color 0.3s ease;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .faq__help a:hover {
    color: var(--neutural-black, #171921);
  }
}
.faq__spoilers {
}
.spoilers-faq {
}
.spoilers-faq__item {
  position: relative;
  padding: 24px 32px;
}
.spoilers-faq__item:not(:last-child) {
  margin-bottom: 12px;
}
.spoilers-faq__title._active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: var(--neutural-light-grey, #f3f5f9);
  z-index: -1;
}
.spoilers-faq__title {
  padding-right: 40px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  text-align: left;
}
.faq__spoilers._init .spoilers-faq__title::after {
  content: "";
  position: absolute;
  right: 32px;
  top: 25px;
  width: 32px;
  height: 32px;
  background: url(../images/faq/IC_chevron-down.svg) right no-repeat;
  display: inline-block;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.spoilers-faq__title._active::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.spoilers-faq__text {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .faq {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .spoilers-faq__title {
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  .faq__container {
    display: block;
  }
  .faq__heading {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .faq__title {
    max-width: none;
  }
  .faq__help {
    justify-content: center;
    -webkit-column-gap: 21px;
    column-gap: 21px;
    row-gap: 8px;
  }
}
@media (max-width: 479.98px) {
  .faq {
    padding-bottom: 30px;
  }
  .faq__help p,
  .faq__help a,
  .spoilers-faq__title {
    font-size: 18px;
  }
  .spoilers-faq__item {
    padding: 10px 0;
  }
  .spoilers-faq__title._active::before {
    right: -999px;
    left: -999px;
  }
  .faq__spoilers._init .spoilers-faq__title::after {
    right: 0;
    top: 6px;
  }
}

/*------------ talk ------------*/
.talk {
  background-color: var(--primary-dark-blue-1, #142257);
}
@media (min-width: 991.98px) {
  .talk__inner {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
  }
}
.talk__content {
  flex: 0 0 100%;
}
.talk__container {
  position: relative;
}
.talk__container::before {
  content: "";
  position: absolute;
  background: url("../images/talk/decor.svg") 0 0 / 100% no-repeat;
  width: 39.52381%; /* 581/1470 */
  height: 33px;
  top: -1px;
  left: 0;
}
.talk__body {
  padding-top: 165px;
  width: 50%;
  padding-bottom: 30px;
}
@media (max-width: 1470px) {
  .talk__body {
    padding-top: calc(30px + (165 - 30) * ((100vw - 992px) / (1470 - 992)));
  }
}
.body-talk {
}
.body-talk__title {
  margin-bottom: 24px;
  max-width: 662px;
}
.body-talk__benefits {
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-column-gap: 41px;
  column-gap: 41px;
  row-gap: 15px;
}
.body-talk__benefit {
  font-size: 20px;
  line-height: 1.6;
  color: var(--primary-sky-blue, #15b2f5);
  padding-left: 32px;
  background: url(../images/hero/check.svg) left no-repeat;
}
.body-talk__button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding-left: 20px;
  min-height: 64px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--neutural-white, #fff);
}
.body-talk__button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.body-talk__button span::after {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--neutural-white, #fff) url(../images/hero/phone.svg) center
    no-repeat;
}
.talk__image-ibg {
  aspect-ratio: 966 / 655;
}
@media (min-width: 991.98px) {
  .talk__image-ibg {
    flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .talk__image-ibg img {
    width: auto;
  }
}
@media (max-width: 991.98px) {
  .talk__body {
    padding-top: 30px;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .talk__container::before {
    display: none;
  }
}
@media (max-width: 600px) {
  .body-talk__benefit {
    font-size: 18px;
  }
}
@media (max-width: 479.98px) {
  .body-talk__benefit {
    font-size: 14px;
  }
  .body-talk__button {
    min-width: 175px;
    min-height: 48px;
    padding: 5px;
    font-size: 18px;
  }
  .body-talk__button span {
    padding-left: 5px;
  }
  .body-talk__button span::after {
    width: 36px;
    height: 36px;
  }
}

/*------------ connect ------------*/
.connect {
  padding-top: 57px;
  background-color: var(--primary-sky-blue, #15b2f5);
}
.connect__inner {
  margin: 0 auto;
  max-width: 1520px;
  padding-left: 15px;
  padding-right: 15px;
}
.connect__container {
  max-width: none;
  border-radius: 24px;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 516px; /* 516/1440 */
  align-items: center;
  gap: 24px;
  background-color: #4ac9ff;
}
.connect__content {
}
.connect__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  color: var(--neutural-white, #fff);
}
.connect__text {
  color: var(--neutural-white, #fff);
}
.connect__form {
  display: flex;
  max-height: 76px;
  padding: 12px;
  border-radius: 60px;
  background-color: var(--neutural-white, #fff);
}
.connect__input {
  flex: 1 1 auto;
  line-height: 1.555;
  padding: 0 10px;
}
.connect__input::-webkit-input-placeholder {
  color: var(--neutural-grey-3, #9ea3b5);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.connect__input::placeholder {
  color: var(--neutural-grey-3, #9ea3b5);
  transition: opacity 0.3s ease;
}
.connect__input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.connect__input:focus::placeholder {
  opacity: 0;
}
.connect__button {
  font-weight: 700;
  line-height: 1.333;
  width: 161px;
  color: var(--neutural-white, #fff);
}
@media (max-width: 1200px) {
  .connect__container {
    grid-template-columns: auto 440px; /* 516/1440 */
  }
}
@media (max-width: 991.98px) {
  .connect__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 479.98px) {
  .connect {
    padding-top: 30px;
  }
  .connect__button {
    max-width: 100px;
    min-height: auto;
  }
  .connect__input {
    width: 100px;
  }
}

/*------------ animation ------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-dark-blue-1);
  z-index: 9999;
  transition: opacity 0.5s ease;
}

[data-animate-to-left-top] {
  -webkit-transform: translate(2rem, 2rem);
  transform: translate(2rem, 2rem);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 0.3s,
    -webkit-transform 0.7s ease-in-out 0.3s;
  transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s;
  transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s,
    -webkit-transform 0.7s ease-in-out 0.3s;
}
[data-animate-to-left-top].active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

[data-animate-slide-to-right] {
  position: relative;
  overflow: hidden;
}
[data-animate-slide-to-right] span {
  position: relative;
  display: inline-block;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  transition: -webkit-clip-path 0.7s ease 0.3s;
  transition: clip-path 0.7s ease 0.3s;
  transition: clip-path 0.7s ease 0.3s, -webkit-clip-path 0.7s ease 0.3s;
}
[data-animate-slide-to-right].active span {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

/*------------ on-load-animation-hero ------------*/
.hero__image--left {
  -webkit-transform: translateX(-5rem);
  transform: translateX(-5rem);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 0.3s,
    -webkit-transform 0.7s ease-in-out 0.3s;
  transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s;
  transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s,
    -webkit-transform 0.7s ease-in-out 0.3s;
}
.hero__image--right {
  -webkit-transform: translateX(5rem);
  transform: translateX(5rem);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 0.7s,
    -webkit-transform 0.7s ease-in-out 0.7s;
  transition: opacity 0.7s ease-in-out 0.7s, transform 0.7s ease-in-out 0.7s;
  transition: opacity 0.7s ease-in-out 0.7s, transform 0.7s ease-in-out 0.7s,
    -webkit-transform 0.7s ease-in-out 0.7s;
}
.content-hero__button-wrapper {
  -webkit-transform: translate(2rem, 2rem);
  transform: translate(2rem, 2rem);
  opacity: 0;
  transition: opacity 0.5s ease-in-out 2s, -webkit-transform 0.5s ease-in-out 2s;
  transition: opacity 0.5s ease-in-out 2s, transform 0.5s ease-in-out 2s;
  transition: opacity 0.5s ease-in-out 2s, transform 0.5s ease-in-out 2s,
    -webkit-transform 0.5s ease-in-out 2s;
}
@media (max-width: 991.98px) {
  .content-hero__title {
    transition: opacity 0.7s ease-in-out 0.3s,
      -webkit-transform 0.7s ease-in-out 0.3s;
    transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s;
    transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s,
      -webkit-transform 0.7s ease-in-out 0.3s;
  }
  .content-hero__button-wrapper {
    transition: opacity 0.5s ease-in-out 1s,
      -webkit-transform 0.5s ease-in-out 1s;
    transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
    transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s,
      -webkit-transform 0.5s ease-in-out 1s;
  }
}
.loaded .hero__image--left,
.loaded .hero__image--right,
.loaded .content-hero__button-wrapper {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.content-hero__title {
  position: relative;
  overflow: hidden;
}
.content-hero__title span {
  position: relative;
  display: inline-block;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  transition: -webkit-clip-path 0.7s ease 1.3s;
  transition: clip-path 0.7s ease 1.3s;
  transition: clip-path 0.7s ease 1.3s, -webkit-clip-path 0.7s ease 1.3s;
}
.loaded .content-hero__title span {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
